
#TRENDING {
    display: block;
    overflow-x: auto;
    white-space: nowrap; 
    height: 700px;
}

#Top_rated {
    display: block;
    overflow-x: auto;
    white-space: nowrap; 
    height: 700px;
}

#upcoming{
    display: block;
    overflow-x: auto;
    white-space: nowrap; 
    height: 700px;
}
.text{
    overflow: hidden;
}

